<nav class="navbar navbar-expand-md navbar-dark bg-dark">
  <div class="container">
    <a class="navbar-brand" href="/">OnboardingSIGDB1-Web</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#barraNavegacao" 
      aria-controls="barraNavegacao" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="barraNavegacao">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item">
          <a class="nav-link" href="#">Empresas</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">Funcionários</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/cargos">Cargos</a>
        </li>
      </ul>
    </div>
  </div>
</nav>
<router-outlet></router-outlet>