<div class="container">
  <div class="d-flex">
    <div class="form-inline mr-auto">
      <div class="form-group mb2">
        <h1 class="mr-2">Listagem de Cargos</h1>
      </div>
    </div>
    <div>
      <button class="btn btn-primary" style="margin-top: 10px;" routerLink="/cargos/create">
        Novo
      </button>
    </div>
  </div>
  <hr/>
  <table class="table table-striped">
    <thead class="thead-dark">
      <th>Código</th>
      <th>Descrição</th>
      <th>Opções</th>
    </thead>
    <tbody *ngIf="cargos && cargos?.length">
      <tr *ngFor="let cargo of cargos">
        <td>{{cargo.id}}</td>
        <td>{{cargo.descricao}}</td>
        <td>
          <div class="btn-group" dropdown>
            <button id="button-basic" dropdownToggle type="button" class="btn btn-secondary dropdown-toggle"
                    aria-controls="dropdown-basic">
              Mais opções <span class="caret"></span>
            </button>
            <ul id="dropdown-basic" *dropdownMenu class="dropdown-menu"
                role="menu" aria-labelledby="button-basic">
              <li role="menuitem"><a class="dropdown-item" routerLink="/cargos/update/{{cargo.id}}">Editar</a></li>
              <li role="menuitem"><a class="dropdown-item" href="#">Excluir</a></li>
            </ul>
          </div>
        </td>
      </tr>
    </tbody>
    <tfoot *ngIf="!cargos?.length">
      <tr>
        <td colspan="3" class="text-center">
          <h4>Nenhum cargo encontrado!</h4>
        </td>
      </tr>
    </tfoot>
  </table>
</div>