<div class="container">
  <h1>Vincular Funcionário a um Cargo</h1>
  <hr/>
  <form [formGroup]="form">
    <div class="form-row">
      <div class="form-group col-md-6">
        <label>Nome</label>
        <input type="text" class="form-control" disabled formControlName="nome" [(ngModel)]="funcionario.nome">
      </div>
    </div>
    <div class="form-row">
      <div class="form-group col-md-6">
        <label>Cargo</label>
        <input [(ngModel)]="selectedValue" [typeahead]="cargos"
          typeaheadOptionField="descricao"
          (typeaheadOnSelect)="onSelect($event)"
          formControlName="cargoDescricao"
          placeholder="Selecione o cargo..."
          class="form-control"
          [ngClass]="{'is-invalid': form.get('cargoDescricao').errors && form.get('cargoDescricao').touched}">
        <div *ngIf="form.get('cargoDescricao').hasError('required') && form.get('cargoDescricao').touched" class="invalid-feedback">
          Cargo obrigatóro.
        </div>
      </div>
    </div> 
    <div class="form-row">
      <div class="form-group col-md-6">
        <label>Data Vínculo</label>
        <input type="text" bsDatepicker [bsConfig]="{containerClass:'theme-blue'}" class="form-control" 
          formControlName="dataVinculo" placeholder="dd/mm/aaaa"
          [ngClass]="{'is-invalid': form.get('dataVinculo').errors && form.get('dataVinculo').touched}">
        <div *ngIf="form.get('dataVinculo').hasError('required') && form.get('dataVinculo').touched" class="invalid-feedback">
          Data de vínculo obrigatóra.
        </div>
      </div>
    </div>
  </form>
  <button class="btn btn-primary" style="margin-right: 5px;" [disabled]="!form.valid" (click)="vincular()">
    Vincular
  </button>
  <button class="btn btn-secondary" (click)="cancel()">
    Voltar
  </button>
</div>